body {
    background-color: rgb(217, 229, 255);
}

p {
    font-size: 1.1rem;
    width: 700px;
}

.cssfoundations {
    color: rgb(65, 1, 1);
}

.head {
    font-size: 1.5rem;
}

.list {  
    background-color: rgb(198, 219, 206);
    font-size: 1.2rem;
    margin: 15px;
    padding: 15px;
    padding-left: 40px;
    width: 500px;
}

#nostyle {
    background-color: white;
    color: black;
    font-size: 1rem;
}