body {
    background-color: rgb(217, 229, 255);
    width: 100%;
}

p {
    font-size: 1.1rem;
    width: 700px;
}

.cssfoundations {
    color: rgb(65, 1, 1);
}

.head {
    font-size: 1.5rem;
}

.intro > p {
    font-size: 1.15rem;
    width: 100%;
}

.list {  
    background-color: rgb(198, 219, 206);
    font-size: 1.2rem;
    margin: 15px;
    padding: 15px;
    padding-left: 40px;
    width: 500px;
}

#nostyle {
    background-color: white;
    color: black;
    font-size: 1rem;
}

.flexpreviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.1rem;
    flex-flow: wrap;
}

.flexpreviews > div {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(198, 219, 206);
}

.flexexercises {
    display: flex;
    flex-direction: column;
}

.flexexercises > div {
    flex: 1;
    border: green solid 2px;
}

.spotlight {
    font-weight: 800;
}